html, body, div, p, h1, h2 {
	background-color: #DFDDD8;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 18px;
}

p {
	color: #660000;
}

.pklasse {
	color: #006600;
}

#pid {
	font-weight: bold;
}

h2 {
	color: #000066;
}

h2:hover {
	color: #0000FF;
}

.hklasse {
	font-style: italic;
}

h2.pklasse {
	font-size: 24px;
}

p.non-class, p.also-non-class {
	color: #FFFFFF;
}

@media screen and (orientation: portrait) {
	p.pklasse {
		font-size: 46px;
		color: #808080;
	}

	p.portrait, h3 {
		color: #387516;
	}

	.vert {
		opacity: 1.0;
	}
	.horiz {
		opacity: 0.0;
	}
}

@media screen and (orientation: landscape) {
	.vert {
		opacity: 0.0;
	}
	.horiz {
		opacity: 1.0;
	}
}

p.mega-test#funk:active {
	border: 6px solid #ff00ff;
}

@keyframes stamp-in {
	0%	{
		opacity: 0.5;
		transform: rotate(90deg) scale(3.1) translateX(50px);
	}
	100%	{
		opacity: 1.0;
		transform: rotate(0deg) scale(1.0) translateX(0px);
	}
}

@keyframes stamp-out {
	0%	{
		opacity: 1.0;
		transform: rotate(0deg) scale(1.0) translateX(0px);
	}
	100%	{
		opacity: 0.0;
		transform: rotate(180deg) scale(5.0) translateX(50px);
	}
}

p.roll {
	background: none;
	width: 300px;
	animation: stamp-in 2.4s 0s 1 ease-out;
}

p.pklasse::first-letter {
	font-size: 150%;
	font-weight: bold;
}

div.fun[data=argument]:hover {
	color: white;
}

@media (max-width: 320px) {
	k {
		color: red;
	}

	@media screen {
		k {
			color: blue;
		}
	}
}

p.ryll {
	background: none;
	width: 100px;
	animation: stamp-never 2.4s 0s 1 ease-out;
}


.ftest::first-letter {
	color: #ff00ff;
	background-color: #00ff00;
	opacity: 0.8;
}

div.ftest {
	color: #ff22ff;
	background-color: #22ff22;
	opacity: 0.5;
}

div::first-letter {
	color: #000000;
	background-color: #AAAAAA;
	opacity: 1.0;
}

.spin {
	color: #0000ff;
	width: 75%;
}